= simple_form_for Post  do |f|
  = f.input :title , label: 'Please enter a title' , error: 'Title is mandotory please choose one , you can always change later'
  .medium-editable
    = f.input :body
  = f.submit 'Save'
        