#bs-carousel.carousel.fade-carousel.slide{"data-interval" => "4000", "data-ride" => "carousel"}
  / Overlay
  .overlay
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#bs-carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#bs-carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#bs-carousel"}
  / Wrapper for slides
  .carousel-inner
    .item.slides.active
      .slide-1
      .hero
        %hgroup
          %h1 We are creative
          %h3 Get start your next awesome project
        %button.btn.btn-hero.btn-lg{:role => "button"} See all features
    .item.slides
      .slide-2
      .hero
        %hgroup
          %h1 We are smart
          %h3 Get start your next awesome project
        %button.btn.btn-hero.btn-lg{:role => "button"} See all features
    .item.slides
      .slide-3
      .hero
        %hgroup
          %h1 We are amazing
          %h3 Get start your next awesome project
        %button.btn.btn-hero.btn-lg{:role => "button"} See all features
