%link{:href => "http://fonts.googleapis.com/css?family=Ubuntu", :rel => "stylesheet", :type => "text/css"}/
.container.col-lg-12.main
  .col-lg-12.post
    .container
      %h2
        %p.ubuntu #{@post.title}
      .body-text
        %p.text-muted.ubuntu By #{@post.user.email} | #{@post.published_at}
        %br/
        .row
          .col-lg-6
            %p #{@post.body}
            