.navbar.navbar-default.navbar-fixed-bottom
  .container
    .row
      .col-md-5
        %p.navbar-text.pull-left
          %h2
            TYI - The Young Independent
         
      .col-md-3.offset-md-3
        %a.navbar-btn.btn-danger.btn.pull-right.col.align-self-end{:href => "/"}
          %span.fa.fa-bookmark>
          Bookmarks
          