.navbar.navbar-default.navbar-fixed-bottom
  .container
    .row
      %p.navbar-text.pull-left
        %h2 TYI 
        %a.navbar-btn.btn-danger.btn-small.pull-right.col.align-self-end{:href => "/"}
          %span.fa.fa-bookmark>
          Bookmarks
          