%nav
  .nav-wrapper
    = render 'layouts/logo_badge'
    // %a.brand-logo{:href => "#!"} Logo
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "/"}
      %i.material-icons menu
    %ul.right.hide-on-med-and-down
     
    %ul#mobile-demo.side-nav
      - @categories.each do |category| 
        %li
          %a{:href => "/blogr/categories/#{category.id}/posts"} #{category.name}
      %li.nav-item
        %a{:href => "#"} Contact
      %li.nav-item
        %a{:href => "https://twitter.com/maridlcrmn"} Follow me

