.row
  .col.s12
    %ul.tabs
      - @categories.each do |category| 
        %li.tab.col.s3
          %a{:href => "/blogr/categories/#{category.id}/posts" , :target => "#blog_posts"} #{category.name}
          
  