.row
  .container
    .row 
      .col-md-5.justify-content-between.offset-md-7
        %ul.nav.justify-content-end.nav-fill.list-inline{:role => "tablist"}
          %li.nav-item.list-inline-item
            %a.nav-link.active{"data-toggle" => "pill", :href => "./#top_stories", :role => "tab"} Top story
          %li.nav-item.list-inline-item
            %a.nav-link{"data-toggle" => "pill", :href => "./#staff_pick", :role => "tab"} Staff Pick 
          %li.nav-item.list-inline-item
            %a.nav-link{"data-toggle" => "pill", :href => "#{bookmarks_path}", :role => "tab"} Bookmarks
           
   
    
