.carousel.carousel-slider.center{"data-indicators" => "true"}
  .carousel-fixed-item.center
    %a.btn.waves-effect.white.grey-text.darken-text-2 button
  - @posts.each do |post| 
    .carousel-item.red.white-text{:href => "#one!"}
      %h2= post.title
      %p.white-text= truncate post.body, length: 50
    .carousel-fixed-item.center
      %a.btn.waves-effect.white.grey-text.darken-text-2{:href => "/blogr/posts/#{post.id}"} Read More