.container
  .row
    .col-md-12
      .col-md-6
        = react_component 'Readers::Home::FullWindowCarousel', {}, { prerender: true }
      .row
        .col-md-6
          = render 'blogr/posts/blog_posts'
          
          
          
     